/****************************************************************** Initial styling on body tag */

body {
  background-color: #89bad2;
  margin: 0;
}

/****************************************************************** Header and footer styling */

header h1 {
  font-size: 3em;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  min-width: 80%;
}

/****************************************************************** Header and footer styling */

header h1 {
    font-size: 3em;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    min-width: 80%;
}

.topandbotton {
    display: flex;
    align-items: center;
    justify-content: center;
}

#foot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topandbotton div {
    padding: 50px; 
    font-size: 1.5em;
    text-align: justify;
    max-width: 87%;    
    background-color: white;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.25);
}

.topandbotton div a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bolder;
}

#foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.button {
    text-align: center;
    width: auto;
    font-size: 1.5em;
    padding: 30px;
    background-color: #029ed9;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.25);
}

.button p {
    text-align: center;    
}


#double-button {
    padding: 20px; 
    text-align: center;
    font-size: 0.8em;
    background-color: white;
    border-radius: 0;
    margin: 0px;
    box-shadow: none;
    display: flex;
    justify-content: center;
}

.button p {
  text-align: center;
}

.designby {
    text-align: center;
    font-size: 2em;
}

.designby {
  text-align: center;
  font-size: 2em;
}

/****************************************************************** Main section styling */

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 80%;
  padding: 50px 30px;
  font-size: 1.8em;
  border-radius: 15px;
  background-color: white;
  margin: 20px;
  text-align: center;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

img {
  width: auto;
  height: 280px;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li, 
li img, 
p img {
    margin: 0.3em;
}

.messenger-img {
    width: 100%;
    height: auto;
}


/****************************************************************** Media queries */

/* Media queries for iPad */

@media screen and (min-width: 767px) {
  header h1 {
    font-size: 5em;
    letter-spacing: 3px;
    font-weight: bold;
  }

  .topandbotton div {
    width: 80%;
    font-size: 1.8em;
  }

  .card {
    width: 36%;
    font-size: 1.8em;
  }

  #doublebutton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Media queries for iPad Pro and older Laptop/Desktops */

.card {
    width: 80%;
    padding: 50px 30px;
    font-size: 1.8em;
    border-radius: 15px;
    background-color: white;
    margin: 20px;
    text-align: center;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Media queries for newer Laptop/Desktops and TVs Full HD */



img {
    width: auto;
    height: 280px;
}

/* Media queries for newer Laptop/Desktops and TVs 2K */
@media screen and (min-width: 2390px) {
  .card {
    min-width: 40%;
  }
}
/****************************************************************** Media queries */


    /* Media queries for iPad */

    @media screen and (min-width: 767px) {
        
        header h1 {
            font-size: 5em;
            letter-spacing: 3px;
            font-weight: bold;
        }

        .topandbotton div {
            width: 80%;
            font-size: 1.8em;
        }

        .card {
            width: 36%;
            font-size: 1.8em;
        }

        #doublebutton {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }


    /* Media queries for iPad Pro and older Laptop/Desktops */

    @media screen and (min-width: 1023px) {
       
        header h1 {
            font-size: 6em;
            letter-spacing: 3.5px;
            font-weight: bold;
        }

        .topandbotton div {
            width: 84%;
            font-size: 2em;
        }

        .card {
            width: 39%;
            font-size: 2em;
        }

    }


    /* Media queries for newer Laptop/Desktops HD */

     @media screen and (min-width: 1420px) {
        
        header h1 {
            font-size: 8em;
            letter-spacing: 4px;
            font-weight: bold;
        }

        .topandbotton div {
            width: 84%;
            font-size: 3em;
        }

        .card {
            width: 40%;
            font-size: 3em;
        }

        img {
            height: 320px;
        }

    }


    /* Media queries for newer Laptop/Desktops and TVs Full HD */

    @media screen and (min-width: 1790px) {
        
        header h1 {
            font-size: 9em;
            letter-spacing: 5px;
            font-weight: bold;
        }

        .topandbotton div {
            width: 84%;
            font-size: 3.5em;
        }

        .card {
            width: 40%;
            font-size: 3.5em;
        }
        
    }


    /* Media queries for newer Laptop/Desktops and TVs 2K */
    @media screen and (min-width: 2390px) {
        .card {
            min-width: 40%;
        }

        img {
            height: 400px;
        }

        header h1 {
            font-size: 10em;
            letter-spacing: 5px;
        }
    }
